/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul#images li {
    width: 375px;
    height: 375px;
    display: inline-block;
    position: relative;
    float: left;
    margin-bottom: 500px;
    margin-right: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: double;
    border-width: thick;
  
}

ul#images li img {
    display: inline-block;
    width: 250px;
    height: 250px;

    
}
ul#images li p {
  font-size: 12.5px;
}

ul#images li a{
  font-size: 12.5px;
}

ul#images li button {
    display: inline-block;
}

--- End of grid layout styles. */

ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}














